<!DOCTYPE html>
<html>
<head>
  <title>Socket.IO chat</title>
  <style>
    /* Your styles here */
  </style>
</head>
<body>
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>
  <%= session.id %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
</body>
</html>